.navbar {
    width: 100%;
    background-color: blueviolet;
    overflow: auto;
}
.navbar ul{
    overflow: auto;
    list-style: none;
}
.navbar ul li{
    float: left;
    padding: 10px;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
}