.navbar{
    width: 100%;
    background-color: black;
    overflow: auto;
}
.navbar ul{
    overflow: auto;
    list-style: none;
}
.navbar ul li{
    padding: 10px;
    float: left;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.bg{
    height: 800px;
    width: 100%;
    background-image: url(flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.card{
    width: 20%;
}
.card:hover{
    background-color: orangered;
    color: black;
}
.card1{
    width: 20%;
}
.card1:hover{
    background-color: green;
    color: black;
}
.abc{
    width: 100%;
    background-color: red;
    overflow: auto;
    background-image: url(men1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    color: whitesmoke;
    
}
.one{
    width: 20%;
    height: 300px;
    background-image: url(female1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
    background-size: cover;
    font-size: 10px;
}
.two{
    width: 20%;
    height: 300px;
    background-image: url(other1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: right;
    background-size: cover;
    color: whitesmoke;
}
.scroll{
    width: 100%;
    height: 500px;
    overflow: auto;
    border: 2px solid #ccc;
    padding: 10px;
}
.scroll img{
    width: 100%;
    height: auto;
}
.con{
    height: 700px;
    width: 100%;
    overflow: auto;
}
.imageleft{
    float: left;
    width: 50%;
    height: 400px;
    background-color: blue;
}
.imageleft img{
    height: 400px;
    width: 100%;
}
.four{
    width: 50%;
    background-color: purple;
    height: 400px;
    float: right;
}