/* .one{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
/* .grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
} */
@font-face {
    font-family: tisa;
    src: url(SankofaDisplay-Regular.ttf);
}

.one {
    font-family: tisa;
}