.rel{
    background-color: pink;
    width: 200px;
    height: 200px;
    position: relative;
    top: 10px;
    left:20px;
}
.abs{
    background-color: aqua;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    right: 0px;
}
.stck{
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    position: sticky;
    top:0px;
}
.fix{
    background-color: cornflowerblue;
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}