.navbar{
    width: 100%;
    background-color: black;
    overflow: auto;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar ul li{
    float: left;
    border-right:1px solid #bbb;
}
.navbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:active{
    background-color: green;
}

.bg{
    height: 300px;
    width: 100%;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border: 3px solid white;
    padding-top: 200px; 
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
}

.card-body h4 {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.card-body p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  .con{
    
    width: 100%;
    overflow: auto;
}
.imageleft{
    float: left;
    width: 50%;
    
    background-color: blue;
}
.imageleft img{
    
    width: 100%;
}
.four{
    width: 50%;
    background-color: whitesmoke;
    float: right;
}
.con1{
    width: 100%;
    overflow: auto;
}
.imageright{
    float: right;
    width: 50%;
    
    background-color: blue;
}
.imageright img{
    height: 400px;
    width: 100%;
}
.five{
    width: 50%;
    background-color: whitesmoke;
    height: 400px;
    float: left;
} 