.rel {
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    top: 500px;
    left: 400px;
}

.abs {
    background-color: green;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 400px;
    right: 0px;
}

.stck {
    background-color: purple;
    width: 200px;
    height: 200px;
    position: sticky;
    top: 0px;

}

.fix {
    background-color: orange;
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}