.one{
    background-color: yellow;
    height: 200px;
    /* width: 100%; */
    /* margin-left: 100px; */
    /* margin-top: 100px; */
    /* margin-right: 100px; */
    /* margin-bottom: 100px; */
    /* margin: 100px; */
    /* margin: 100px 200px; */
    /* margin: 100px 200px 0px 500px; */
    /* padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 200px;
    padding-left: 100px; */
    /* padding: 200px 400px; */
    /* padding: 100px; */
    /* padding: 100px 200px 300px 400px; */
    font-family: tisa;
}
.sankofa-display-regular {
    font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: tisa;
    src: url(one.ttf);
}

  